#OS 
[Tt]humbs.db
*.DS_Store

#Recogbot - Eclipse
Eclipse_Workspace/

#Recogbot - lib files
recogbot.lib

#Recogbot - DB
[Dd][Bb]/

#Visual Studio Files
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
ipch/
obj/
[Dd]ebug*/
[Rr]elease*/
[Nn][Dd]epend[Oo]ut*/
temp/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

#Office Temp Files
~$*


